config:
  backup: true
  banner: true
  create: true
  longkey: true
  showdiff: true
  dotpath: user-dotfiles
  workdir: ~/.config/dotdrop
dotfiles:
  d_config_zsh:
    src: config/zsh
    dst: ~/.config/zsh
  d_local_state_zsh:
    src: local/state/zsh
    dst: ~/.local/state/zsh
profiles:
  meta_base:
    dotfiles:
    - d_config_zsh
    - d_local_state_zsh
  os_arch:
    include:
    - meta_base
  os_ubuntu:
    include:
    - meta_base
  salah:
    include:
    - os_arch
