config:
  backup: true
  banner: true
  create: true
  longkey: true
  showdiff: true
  dotpath: user-dotfiles
  workdir: ~/.config/dotdrop
dotfiles:
  d_config_zsh:
    src: config/zsh
    dst: ~/.config/zsh
    chmod: '755'
  d_local_state_zsh:
    src: local/state/zsh
    dst: ~/.local/state/zsh
    chmod: '755'
  d_config_rofi:
    src: config/rofi
    dst: ~/.config/rofi
  d_config_ranger:
    src: config/ranger
    dst: ~/.config/ranger
  d_config_qbittorrent:
    src: config/qBittorrent
    dst: ~/.config/qBittorrent
  d_config_python:
    src: config/python
    dst: ~/.config/python
  d_config_picom:
    src: config/picom
    dst: ~/.config/picom
  d_config_obs-studio:
    src: config/obs-studio
    dst: ~/.config/obs-studio
  d_config_mpv:
    src: config/mpv
    dst: ~/.config/mpv
profiles:
  meta_base:
    dotfiles:
    - d_config_zsh
    - d_local_state_zsh
  # Dotfiles for every OS
  meta_os:
    include:
    - meta_base
    dotfiles:
    - d_config_qbittorrent
    - d_config_python
    - d_config_obs-studio
  # Dotfiles for Arch Linux
  os_arch:
    include:
    - meta_os
    dotfiles:
    - d_config_rofi
    - d_config_ranger
    - d_config_picom
  # Dotfiles for Ubuntu
    - d_config_mpv
  os_ubuntu:
    include:
    - meta_base
  # Dotfiles for local system
  salah:
    include:
    - os_arch
