config:
  backup: true
  banner: true
  create: true
  longkey: true
  showdiff: true
  dotpath: user-dotfiles
  workdir: ~/.config/dotdrop
dotfiles:
  d_config_zsh:
    src: config/zsh
    dst: ~/.config/zsh
    chmod: '755'
  d_local_state_zsh:
    src: local/state/zsh
    dst: ~/.local/state/zsh
    chmod: '755'
  d_config_rofi:
    src: config/rofi
    dst: ~/.config/rofi
  d_config_ranger:
    src: config/ranger
    dst: ~/.config/ranger
  d_config_qbittorrent:
    src: config/qBittorrent
    dst: ~/.config/qBittorrent
  d_config_python:
    src: config/python
    dst: ~/.config/python
  d_config_picom:
    src: config/picom
    dst: ~/.config/picom
  d_config_mpv:
    src: config/mpv
    dst: ~/.config/mpv
  d_config_obs-studio:
    src: config/obs-studio
    dst: ~/.config/obs-studio
  d_config_kitty:
    src: config/kitty
    dst: ~/.config/kitty
  d_config_i3:
    src: config/i3
    dst: ~/.config/i3
  d_config_gtk-3.0:
    src: config/gtk-3.0
    dst: ~/.config/gtk-3.0
    chmod: '700'
  d_config_gtk-2.0:
    src: config/gtk-2.0
    dst: ~/.config/gtk-2.0
  d_config_git:
    src: config/git
    dst: ~/.config/git
  d_config_feh:
    src: config/feh
    dst: ~/.config/feh
  d_config_fontconfig:
    src: config/fontconfig
    dst: ~/.config/fontconfig
  d_scripts:
    src: scripts
    dst: ~/.scripts
profiles:
  meta_base:
    dotfiles:
    - d_config_zsh
    - d_local_state_zsh
  meta_os:
    include:
    - meta_base
    dotfiles:
    - d_config_qbittorrent
    - d_config_python
    - d_config_obs-studio
    - d_config_mpv
  os_arch:
    include:
    - meta_os
    dotfiles:
    - d_config_rofi
    - d_config_ranger
    - d_config_picom
    - d_config_kitty
    - d_config_i3
    - d_config_gtk-3.0
    - d_config_gtk-2.0
    - d_config_git
    - d_config_feh
    - d_config_fontconfig
    - d_scripts
  os_ubuntu:
    include:
    - meta_base
  salah:
    include:
    - os_arch
