config:
  backup: true
  banner: true
  create: true
  longkey: true
  showdiff: true
  dotpath: user-dotfiles
  workdir: ~/.config/dotdrop
dotfiles:
  
profiles:
  meta_base:
    dotfiles:

  os_arch:
    include:
    - meta_base
  os_ubuntu:
    include:
    - meta_base
  salah:
    include:
    - os_arch